@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:wght@100&display=swap');

* {
    font-family: Roboto;
}

.grid {
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: minmax(40px,auto);
    gap: 4px;
    align-items: center;
}

.semester {
    color: white;
    text-align: center;
    font-size: 30px;
    background-color: rgba(0,102,51,255);
    
    /* width: 150px; */
    /* min-width: 30px; */
}

.stage {
    color: white;
    text-align: center;
    font-size: 30px;
    background-color: rgba(0,102,51,255);
    
}

.basic-stage {
    grid-column-start: 1;
    grid-column-end: 3;
    width: 100%;
}

.disciplinary-stage {
    grid-column-start: 3;
    grid-column-end: 7;
    width: 100%;
}

.terminal-stage {
    grid-column-start: 7;
    grid-column-end: 9;
    width: 98%;
}